body {
  margin: 15;
  background-color: white;
  font: 14px helvetica;
}

.rcol
{
float:right;
}

.lcol
{
float:left;
}

a {
  color: #0F0F0F;
  text-decoration: none;
}

a:active {
  color: #cedb9c;
}

a:visited {
  fill: none !important;
}

a:hover {
  color: #4a5584;
  text-decoration: underline;
}

.selected a {
  color: #000;
}

.title, .head, .subhead, .body, .foot {
  padding: 10px;
  width: 900px;
  margin: auto;
  padding-left: 40px;
  padding-right: 40px;
}

.title {
  background: #eee;
  font-size: 18px;
  font-weight: bold;
}

.subtitle {
  float: right;
  text-align: right;
  width: 49%;
  text-transform: lowercase;
  font-variant: small-caps;
  font-weight: normal;
  color: #667;
}

.head, .subhead {
  background: #fff;
  height: 1.34em;
  font-weight: bold;
  border-bottom: solid 1px #aaa;
  border-right: solid 1px #aaa;
  margin-bottom: 10px;
}

.subhead {
  color: #4a5584;
  margin-bottom: 0px;
  border-bottom: solid 1px #eee;
  font-weight: normal;
}

.section {
  float: left;
  margin-right: 20px;
}

.body {
  background: #fff;
  border-right: solid 1px #aaa;
  border-bottom: solid 1px #aaa;
  padding-bottom: 40px;
}

.foot {
  color: #666;
  font-size: 11px;
  text-align: right;
}

.overlay {
   background-color: #000;
   opacity: .7;
   filter: alpha(opacity=70);
   position: fixed; top: 0; left: 0;
   width: 100%; height: 100%;
   z-index: 10;
}

.stopCalc {
  position: absolute;
  z-index: 11;
  left: 50px;
  top: 50px;
  font-size: 12px;
}

.wheel {
  position: absolute;
  left:600px;
  top:400px;
}


.ui-tooltip {
	border-color: #800000;
	font-weight: bold;
	font-size: 12px;
	max-width: 200px;
}
legend {
  font: 14px helvetica;
  line-height: 18px;
  margin-bottom: 2px;
  width: auto;
  display: inherit;
  border-style: none;
  padding-left: 5px;
  padding-right: 5px;
}

fieldset {
  border-top-left-radius: 10px;
  margin-left:10px;
  border: 2px solid #CCC;
  padding: 15px;
}

.row-fluid {
  padding-top: 12px;
}

ul#tabs{
	list-style: none;
	margin: 0 0 0 0;
	padding: 0;
	border-bottom: 5px solid #CCC;
	font-size: 15px;
	text-align: right;
	white-space: normal;
}
  
ul#tabs li {
	display: inline;
	float: right;
	margin: 0 0;
}

ul#tabs li a { 
	color: #42454a; 
	background-color: white; 
	padding-left: 12px; 
	padding-right: 12px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-radius: 7px;
	text-decoration: none; 
}

ul#tabs li a:hover { 
	background-color: #E1ECC3;
	color: red
}

ul#tabs li.active  a{ 
	color:#667; 
	background-color: #E1ECC3;
	font-weight: bold;
	font-size: 15px;
}

ul#tabs a{
	text-decoration: none;
	padding: 0 0 3px;
	color: #999;
	border-radius: 7px;
}

div.tabContent { 
	border: none; 
	padding: 0.5em; 
	background-color: white;
	padding-top: 20px;
}

div.tabContent.hide { 
	display: none; 
}

div.status {
	width: 270px; 
	height: 100px; 
	margin-left: 50px;
	margin-top: 10px;
	font-weight: bold;
	visibility: hidden;
	border-radius: 8px;
	border: 1px solid #000
}

div.status p {
	margin-left:20px; 
	margin-right:20px
}

div.smallChart {
	width:98%; 
	height:98%; 
	margin:0 auto
}

fieldset.smallChart { 
	height:232px;
	margin-left: 20px;
	width: 100%;
	padding: 0px;
}

div.mainChart {
	width:98%; 
	height:98%; 
	margin:0 auto
}

fieldset.mainChart {
	min-width:695px; 
	height:460px;
	width: 100%;
}

div.issueList {
	width:94%; 
	height:94%; 
	background-color:white; 
	overflow:auto;
}

fieldset.issueList {
	min-width:665px; 
	height:120px;
	width: 100%;
	padding: 15px;
}

fieldset.fullPage {
	width:1120px; 
	height:820px
}

div.fullPage {
	width:1090px; 
	height:770px; 
	background-color:white; 
	overflow:auto;
	padding: 15px;
}

div.halfPage {
	width:545px; 
	height:800px; 
	background-color:white; 
	overflow:auto
}

select.project {
	 font-size:20px;
	 min-width: 450px;
	 min-height: 35px
}
form {
  margin: 0;
}

form.projectData {
	 padding-top: 15px;
	 padding-bottom: 0px;
	 margin-left:15px;
}

.btn-primary {
	margin-left:15px;
	margin-bottom: 10px
}

input.loadData {
	height: 30px;
	margin-left: 5px;
	text-align: center;
	padding-right: 15px;
	padding-left: 15px;
}

fieldset.smallGroup {
	width: 150px; 
	height: 60px
}

input.weeks {
	width: 30px;
	font-size: 16px;
	padding: 0.1em
}